@import play.api.i18n.Messages

<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavigationController">
    <div class="navbar-inner">
        <div class="container">

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ng-class="{active: isActive('/home')}"><a ng-click="setRoute('home')" >@Messages("nav.home")</a></li>
                    <li ng-class="{active: isActive('/player')}"><a ng-click="setRoute('player')" >@Messages("nav.player")</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>