@import views.html.components._ 

@template{

<div class="row">
	<div class="offset3 span6">
		<form class="form-horizontal">
			<fieldset>
				@textInput.apply("lastName","lastName","*")
				@textInput.apply("firstName","firstName","*")
				@textInput.apply("nickname","nickname")
				<div class="control-group success hide">
					<div class="controls">
						<span class="help-inline" data-success>This is a TEst</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary center" data-loading-text="Loading...">@Messages("button.ok")</button>
						<button type="reset" class="btn">@Messages("button.cancel")</button>
					</div>
				</div>
			</fieldset>
		</form>

		
	</div>	<!-- offset3 span6 -->
</div><!-- row -->

<div class="row">
	<div class="offset2 span8">
		<div class="pagination pagination-centered hide">
		   
    	</div><!-- Pagination -->
    	<table class="table table-bordered table-hover" >
    	
    	</table>
	</div><!-- offset2 span8 -->
</div><!-- row -->
}
