@(pageContent: Html)

@import play.api.i18n.Messages 

<!DOCTYPE html>

<html>
    <head>
       <title>@Messages("application.title")</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")"/>
       <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/responsive.css")"/>

    </head>
    <body>
    	@navbar.render()
    	<div class="container">
	       <div class="hero-unit">
	       		<h1>@Messages("application.title")</h1>
	       </div><!-- hero-unit -->
	       
     		@pageContent
       	</div> <!-- container -->
     	
       
       <script src="@routes.JavascriptRouter.javascriptRoutes" type="text/javascript"></script>
       <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
       <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
       <script src="@routes.Assets.at("javascripts/foosball.js")" type="text/javascript"></script>
       <script src="@routes.Assets.at("javascripts/paginator.js")" type="text/javascript"></script>
       <script src="@routes.Assets.at("javascripts/player.js")" type="text/javascript"></script>
    </body>
</html>